#ContactMe{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items:center;
    width:70%;
    align-self:center;
    height:100px;
    margin-bottom:50px;
    margin-top:20px;
}
@media(max-width:800px){
    #ContactMe{
        width:100%;
        justify-content:space-between;
        height:75px;
    }
}
.contactLINK{
    height:100%;
    fill:white;
    transition: fill .5s ease;
}

.youtubeLink:hover{
    fill:red;
}
.contactSVG{
    height:100%;
    width:auto;
    animation: wiggleOut 1s linear;
}
.contactSVG:hover{
    animation: wiggleIn 1.5s linear infinite;
}
.linkedInLink:hover{
    fill:#0A66C2; 
}
.emailLink:hover{
    fill:#008900;
}

path{
    fill:inherit;
}