body{
    background-color:black;
}


.projectCard{
    flex-basis:40%;
    margin-bottom:50px;
    background-color:rgb(11, 49, 11);
    transition:opacity 2s ease;

}


.projectTitle{
    color:white;
}

.projectText{
    color:white;
}

.linkButton{
    background-color: rgb(22, 94, 22);
    border:none;
    box-shadow:3px 3px 5px rgb(24, 24, 24);
    transition:box-shadow .3s linear, background-color .5s ease;
}
.linkButton:hover{
    background-color: rgb(29, 124, 29);

    box-shadow:5px 5px 5px rgb(24, 24, 24);
}

@media(max-width:1000px){
    .projectCard{
        flex-basis:70%;
    }
}


@media(max-width:500px){
    .projectCard{
        flex-basis:90%;
    }
}
