body{
    background-color:rgb(53, 52, 52);
}


.projectCard{
    flex-basis:40%;
    margin-bottom:50px;
    
    transition:opacity 2s ease,top 1s linear,;
   
}



@media(max-width:1000px){
    .projectCard{
        flex-basis:51%;
    }
}

@media(max-width:600px){
    .projectCard{
        flex-basis:70%;
    }
}
@media(max-width:500px){
    .projectCard{
        flex-basis:90%;
    }
}

@media(max-width:300px){
    .projectCard{
        flex-basis:95%;
    }
}
